body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    width: 600px;
    align-items: center;
    border: 1px solid #d6d4d4;
    border-radius: 0.25rem;
    display: flex;
}

.search input {
    height: 45px;
    text-indent: 25px;
    border: 0;
    color: #AAADAD;
    font-size: 14px;
}

.search input:focus {
    box-shadow: none;
    border: 1px solid #6FB251;
}

.search .fa-search {
    /*position: absolute;*/
    /*top: 20px;*/
    left: 16px
}

.search button {
    /*position: absolute;*/
    /*top: 5px;*/
    right: 5px;
    height: 41px;
    width: 140px;
    background: #6FB251;
    line-height: 12px;
    margin-right: 3px;
    border-color: #6FB251;
    font-size: 14px;
}
.right-menu ul li{
    color: #000 !important;
}
.top-bar{
    background-color: #ECEDED;
}
.top-bar ul li{
    color: #606060;
    font-size: 13px;
}
.track-btn{
    background-color: #6FB251;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}
.cart-btn i{
    color: #6FB251;
    font-size: 22px;
}
.cate-btn .fa-bars{
    font-size: 22px;
    color: #6FB251;
}
#mainBanner .carousel-inner{
    border-radius: 25px;
}
.carousel-indicators li{
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}
.carousel-indicators li.active {
    background-color: #6FB251 !important;
}
#mainBanner .carousel-caption{
    top: 15%;
}
#mainBanner .carousel-caption h5{
    font-size: 70px;
    color: #6FB251;
    text-transform: uppercase;
}
/*Products*/
.multi-products{
    border-radius: 25px;
}
.multi-products h6{
    color: #8AC16B;
    margin-bottom: 0;
}
.multi-products a{
    color: #121617;
    font-weight: 500;
}
.multi-products h6.title{
    color: #6FB251;
    font-size: 20px;
    font-weight: 400;
}
.product-btn span{
    background-color: #8AC16B;
}
.product-desc h6.text-muted{
    color: #909293 !important;
    font-size: 14px;
}
.product-desc h6:not(.text-muted){
    color: #121617 !important;
    font-weight: 500;
}
.product-desc h4.text-muted{
    color: #909293 !important;
    font-size: 18px !important;
}
.product-desc h4:not(.text-muted){
    color: #121617 !important;
    font-weight: 500;
}
.item{
    padding-bottom: 2rem;
}
.product-img{
    min-height: 190px;
}
.product-desc, .product-btn{
    padding:  0 10px;
}
.product-footer{
    padding: 10px;
}
.slider_products .product-footer{
    padding: 18px 10px 10px;
}
.product-footer span .fa-star{
    color: #6DBB4C;
}
.product-data .product-img {
    min-height: 170px;
    height: 170px;
    align-items: center;
    display: flex;
    margin-top: 4px;
}
.product-data .product-img img{
    height: 100%;
}
.product-btn{
    margin-bottom: 10px;
}
.flag{
    top: 5px;
}
.bottom-flag{
    bottom: 11px;
}
.sale{
    background-color: #E0E1E4;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    margin-right: 7px;
}
.sale h5{
    margin-bottom: 0;
    font-weight: 700;
    font-size: 16px;
}
.flash-sale{
    background-color: #8AC16B;
}
.flash-sale span{
    line-height: 20px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 8px;
}
.bag-img img{
    height: 140px !important;
    object-fit: contain;
}
.cat-img{
    width: 105px;
    height: 105px;
    overflow: hidden;
}
.cat-img img{
    height: 100%;
}
.cat_title h6{
    font-size: 14px;
    margin-top: 10px;
    white-space: pre-wrap;
    font-weight: 400;
}
.browse-btn{
    background-color: #6BAA51;
    color: #fff;
    padding: 10px;
    border-radius: 0;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.sales-products .product-desc{
    margin-bottom: 10px;
}
.sales-products .product-desc h4{
    font-size: 20px;
}
.sales-products .product-img {
    min-height: 170px;
    height: 170px;
    margin-bottom: 15px;
}
.sales-products .product-img img{
    height: 100%;
}
.subscribe{
   background-color: #ECEDED; 
}
.subscribe-form .form-control{
    font-size: 14px;
}
.product-header{
    border-bottom-color: #8ac16b !important;
}
.product-header h6{
    font-size: 13px;
}
.all_products .product-desc p{
    height: 41px;
}
.product-desc p{
    font-weight: 500;
    color: #121617;
}
.product-footer small {
    color: #909293;
    font-size: 10px;
}
#countdown ul{
    margin-bottom: 0;
}
#countdown ul li {
    display: inline-block;
    font-size: 15px;
    list-style-type: none;
    padding: 5px;
    text-transform: uppercase;
    background-color: #000;
    border-radius: 4px;
    width: 37px;
    text-align: center;
    margin-right: 2px;
    font-weight: 400;
}

#countdown ul li span {
  display: block;
  font-size: 20px;
  color: #fff;
}
.general_cat p{
    font-weight: 500;
}
/**********Footer ***********/
.footer-menu h5{
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
}
.footer-menu h5, .footer-menu a{
    color: #264720;
}
.footer-menu a{
    font-size: 12px;
}
.footer-menu  ul li{
    padding: 5px 0;
    color: #264720;
}
.copyright-text{
    color: #264720;
    font-weight: 500;
}
.payment-icons .icons{
    display: flex;
    width: 115px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.payment-icons .icons img{
    width: 100%;
}
.bottom-nav a, .bottom-nav li select{
    font-weight: 400;
}
.cat_row .col{
    padding: 0;
}
.cat-img{
    margin: 0 auto;
}
.social-icons ul li:not(:last-child){
    margin-right: 4px !important;
}
.social-icons ul li a{
    background-color: #70AC43;
    padding: 12px;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.social-icons ul li a i{
    font-size: 16px;
}
/*************Media Query*************/
@media(max-width: 590px){
    #mainBanner .carousel-caption {
        top: 34%;
    }
    #mainBanner .carousel-caption h5 {
        font-size: 26px;
    }
    .product-data .product-img {
        min-height: 170px;
        height: 170px;
    }
    .product-header h6{
        font-size: 12px;
    }
    .search{
        width: auto;
    }
    .sale h5{
        font-size: 15px;
    }
    .sales-products .product-desc h4 {
        font-size: 18px;
    }
    .flash-sale span{
        font-size: 11px;
    }
    .contact-ul a{
        font-size: 12px;
        padding-left: 5px !important;
    }
    .cat_row .col{
        display: flex;
        justify-content: center;
    }
    .cat-img{
        margin: 0 auto;
    }
    .carousel-inner .carousel-item img{
        height: 300px;
    }
    .top-bar ul li {
        font-size: 11px;
    }
    .right-menu {
        padding-left: 0 !important;
        padding-right: 0;
    }
    .right-menu ul{
        text-align: right;
        padding-right: 10px;
    }
    .left_col{
        padding-left: 5px;
        padding-right: 0;
    }
    .left_col ul li{
        margin-right: 0 !important;
    }
    .navbar-toggler{
        border: 1px solid #6fb251;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .navbar-toggler .fas{
        color: #6fb251;
    }
    .navbar .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-nav form{
        width: 100%;
        display: block !important;
    }
}